/*
 * @Author        : uiuing
 * @Date          : 2021-05-14 17:26:22
 * @LastEditTime  : 2021-05-22 16:25:41
 * @LastEditors   : uiuing
 * @Description   : CSS
 * ©️ uiuing.com
 */
 body {
	padding: 2px;
	background-color: #fff;
	font-family: PingFang SC, "Arial", "Microsoft YaHei", "黑体", "宋体",
		sans-serif;
}

.wrapper {
	top:0px; left:0; z-index:2;
	width: 800px;
	margin: 0 auto;
	height: 760px;
}

.header {
	margin-top: 10px;
	height: auto;
}


.information {
	width: 100%;
}

.infodata_ul {
	font-size: 16px;
	margin-left:29px;
	padding: 0;
	color: #5f5f5f;
	text-align: left;
	list-style: none;
	margin-right: 30px;
}

.infodata_info_font {
	font-size: 14px;
	color: #888787;
}

.infodata_li {
	list-style: none;
	margin-top: 15px;
}

.info {
	width: 100%;
	height: 565px;
	border-radius: 30px;
	margin-top: 24px;
	background-color: #ecececc5;
	box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.tips {
	width: 100%;
}

/*清除浮动*/
.baby_img_info:after,
.baby_img_info:before {
	display: table;
	content: "";
}

.baby_img_info:after {
	clear: both;
	overflow: hidden;
}

.baby_img {
	list-style: none;
	margin: 0;
	padding: 0;
	zoom: 1;
	float: right;
}


.line-numbers .line-numbers-rows {
	position: absolute;
	pointer-events: none;
	top: 0;
	font-size: 100%;
	left: -3.8em;
	width: 3em;
	letter-spacing: -1px;
	border-right: 1px solid #999;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.line-numbers-rows>span {
	pointer-events: none;
	display: block;
	counter-increment: linenumber
}

.line-numbers-rows>span:before {
	content: counter(linenumber);
	color: #999;
	display: block;
	padding-right: .8em;
	text-align: right
}

.baby_img_info li {
	margin-bottom: 20px;
	padding: 0;
	position: relative;
	width: 65px;
	height: 70px;
}

.baby_img_info img {
	background: #fff;
	border: solid 1px #ccc;
	padding: 6px;
	width: 60px;
	height: 70px;
	border-radius: 100px;
	transition: transform 0.3s;
}

.baby_img_info img:hover {
	transform: scale(1.2);
}

.baby_img_info a {
	text-decoration: none;
}

.down {
	height: 70px;
	background-color: rgba(0, 0, 0, 0.856);
	width: 100%;
}

.InformationSet {
	float: left;
	width: 18%;
}

.InformationDetailed {
	float: right;
	width: 78%;
	height: 590px;
}

.ico_corner {
	margin-top: 64px;
	width: 15%;
	height: 50px;
	float: left;
}

.infodata {
	margin-left: 46px;
	margin-top: 15px;
	width: 82%;
	height: 523px;
	background-color: rgba(255, 255, 255, 0.75);
	border-radius: 45px;
}

.tooltip_m {
	position: relative;
	display: inline-block;
}

.tooltip_w {
	position: relative;
	display: inline-block;
}

.tooltip_re_icon {
	position: relative;
	display: inline-block;
}

.tooltip_re_icon .tooltiptext {
	visibility: hidden;
	width: 50px;
	background-color: rgba(0, 0, 0, 0.63);
	color: rgba(255, 255, 255, 0.938);
	text-align: center;
	border-radius: 20px;
	padding: 1px 0;
	/* 定位 */
	position: absolute;
	z-index: 2;
	bottom: 100%;
	left: 100%;
	margin-left: -85px;
	/* 使用一半宽度 (120/2 = 60) 来居中提示工具 */
}

.tooltip_m .tooltiptext {
	visibility: hidden;
	width: 100%;
	background-color: rgba(142, 178, 243, 0.63);
	color: rgba(255, 255, 255, 0.938);
	text-align: center;
	border-radius: 20px;
	padding: 7px 0;
	/* 定位 */
	position: absolute;
	z-index: 1;
	top: -5px;
	right: 105%;
}

.tooltip_w .tooltiptext {
	visibility: hidden;
	width: 100%;
	background-color: rgba(241, 155, 174, 0.63);
	color: rgba(255, 255, 255, 0.938);
	text-align: center;
	border-radius: 20px;
	padding: 7px 0;
	/* 定位 */
	position: absolute;
	z-index: 1;
	top: -5px;
	right: 105%;
}

.tooltip_m:hover .tooltiptext {
	visibility: visible;
}

.tooltip_re_icon:hover .tooltiptext {
	visibility: visible;
}

.tooltip_w:hover .tooltiptext {
	visibility: visible;
}

.re_icon:hover {
	transform: scale(1.2);
}

.icon_xz:hover {
	transition: 10s;
	transform: rotate(4080deg);
}

.re_icon {
	width: 20%;
	margin-top: 3px;
	margin-bottom: 100px;
	transition: transform 0.2s;
}

.icon_plus {
	padding: 0.em;
	border: 1.5px solid;
	border-color: rgba(0, 0, 0, 0.103);
	background: white padding-box;

}